.mouse-parallax {
    height: 1000px;
    position: relative;
    overflow: hidden;
}

.mouse-parallax-bg {
    position: absolute;
    background-image: url("img/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
	filter: blur(6px);
    filter: brightness(50%);
    transition: all 0.1s ease;  
}